{% extends 'base.html.twig' %}

{% block title %}Edit Ticket{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Ticket Details</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Save Modifications</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
